body {
	display: block;
	height: 100%;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/hexabump.png");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}

section {
	margin-top: 45px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 110%;
}

hr {
	border-width: 5px;
}

/* Nav Bar */
h1 {
	font-size: 200%;
	font-weight: bold;
	font-family: 'Baloo', cursive;
}

.header {
	padding-left: 15px;
	padding-right: 0px;
}

.navbar-brand {
	background-color: #ffe047;
	font-family: 'Baloo', cursive;
	font-size: 180%;
	text-align: center;
	font-weight: bold;
	color: white !important;
}

.navbar-inverse {
	background-color: #f8f8f8;
	border-color: none;
	font-size: 115%;
}

.navbar-collapse {
	padding-right: 0px;
}

.navbar-default {
	/*padding: 15px 0px;*/
	font-family: 'Baloo', cursive;
	font-size: 150%;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-toggle {
	background-color: #ffe047;
}

a.padding {
	padding: 15px 0px;
}

/* Entire content area*/
.container {
	max-width: 960px;
	height: 100%;
}

/* Middle grid */
.col-md-8 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

.col-md-3 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

/* Small grid */
.col-sm-8 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

.col-sm-3 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

/* XSmall grid */
.col-xs-12 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

.col-xs-8 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

.col-xs-3 {
	background-color: #f8f8f8;
	margin-bottom: 5%;
}

/* Profile Pic */
#profpic {
	width: 150px;
	float: left;
	margin-right: 3%;
	margin-bottom: 1%;
	border-radius: 50%;
}

/* Social Side-Bar */
h2 {
	font-size: 160%;
	font-weight: bold;
	font-family: 'Baloo', cursive;
}

.icon-resize {
	width: 60px;
}

.connect {
	margin-bottom: 5%;
}

/* Portfolio */
img.port-img {
	max-width: 290px;
	height: 184px;
}

/* Footer */
.footer {
	background-color: #f8f8f8;
/*	padding: 15px 0px;*/
}

/* Media Queries */
@media (max-width: 991px) {
	section {
		margin-top: 4%;
	}

	.row {
		position:relative;
		clear:both;
	}

	img.port-img {
		max-width: 406px;
    	height: 245px;
	}
}

@media (max-width: 768px) {
	section {
		margin-top: 5%;
	}

	.header {
		padding-right: 15px;
	}

	img.port-img {
		width: 100%;
    	height: 100%;
	}
}